<h1><%= 'Public recipes' %></h1>
<% @public_recipes.each do |r| %>
    <%= r.name %>
    <%= r.user.name %>
    <%= 'Total food items: ' r.foods.count%>
    <%= 'Total price: ' r.foods.sum : %>


<%end%>