<% flash.each do |type, msg| %>
    <div>
    <%= msg %>
    </div>
<% end %>
<h1>Add Recipe</h1>
  <%= form_with model: @recipe, url: "/users/#{current_user.id}/recipes" do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.label :preparation_time %><br>
        <%= form.text_field :preparation_time %>
    </p>
    <p>
        <%= form.label :cooking_time %><br>
        <%= form.text_field :cooking_time %>
    </p>
    <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </p>

    <div>
      <%= form.label :public, "Public" %>
      <%= form.check_box :public %>
    </div>
    
    <p>
        <%= form.submit %>
    </p>
<%end%>