<h1 class='text-center mt-3'><%= @recipe.name%></h1>  
<div class='d-flex justify-content-around m-5'>
    <div>
        <p>Preparation time: <%= @recipe.preparation_time%></p>
        <p>Cooking time: <%= @recipe.cooking_time%></p>
        <p><%= @recipe.description%></p>
    </div>
    
    <div>
        <%= 'Public'%>
        <% if @recipe.public %>
            <input type="checkbox" checked data-toggle="toggle">
        <%else%>
            <input type="checkbox" data-toggle="toggle">
        <%end%>
    </div>   
</div>
<div class='d-flex justify-content-around'>
    <%= link_to 'Add ingredient', new_user_recipe_recipe_food_path(current_user.id, @recipe.id), class: 'text-decoration-none border p-2 rounded cursor-pointer'%>
    <%= link_to 'Generate shopping list', user_general_shopping_list_index_path, class: 'text-decoration-none border p-2 rounded cursor-pointer' %>

</div>
<div class='mt-5'>
    <%= render partial: 'ingredients', locals: { recipe_food: @recipe_foods}%>  
</div>